<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Bem-Vindo ao home de Tasks</h1>
  <p>Oque gostaria de fazer?<br />Selecione uma das opções abaixo</p>
  <ion-button
    (click)="GoTo('get-one-tasks')"
    expand="block"
    fill="clear"
    shape="round"
  >
    Get One
  </ion-button>

  <ion-button
    (click)="GoTo('get-all-tasks')"
    expand="block"
    fill="clear"
    shape="round"
  >
    Get All
  </ion-button>

  <ion-button
    (click)="GoTo('post-tasks')"
    expand="block"
    fill="clear"
    shape="round"
  >
    Post
  </ion-button>
  <ion-button
    (click)="GoTo('put-tasks')"
    expand="block"
    fill="clear"
    shape="round"
  >
    Put
  </ion-button>
 
</ion-content>
