<ion-header>
  <ion-toolbar>
    <ion-title>Post Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="RegisterForm" (ngSubmit)="PostTask()" novalidate>
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input
        type="text"
        formControlName="nome"
        placeholder="Tarefa"
      ></ion-input>
    </ion-item>
  </form>
  <ion-button type="submit" color="success">Post</ion-button>
  <ion-button color="danger" (click)="GoToPage('home-tasks')">Back</ion-button>
</ion-content>
