<ion-header>
  <ion-toolbar>
    <ion-title>Get One Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="RegisterForm" (ngSubmit)="GetOneTask()">
    <ion-item>
      <ion-label>Id:</ion-label>
      <ion-input type="text" formControlName="id"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" fill="clear" shape="round">
      Get All
    </ion-button>
    <ion-button
      (click)="GoTo('home-tasks')"
      expand="block"
      fill="clear"
      shape="round"
    >
      Back
    </ion-button>
    <ion-list *ngFor="let task of Result">
      <ion-item>
        <ion-label>Id: {{task.id}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nome: {{task.nome}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label *ngIf="task.ativo">Ativo: Sim</ion-label>
        <ion-label *ngIf="!task.ativo">Ativo: Não</ion-label>
      </ion-item>
      <hr size="4px" color="Black" />
    </ion-list>
  </form>
</ion-content>
